<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-group>
   <ion-item-divider>
     <ion-label><h2>Métodos de pagamento</h2></ion-label>
   </ion-item-divider>

   <ion-item href="dinheiro" lines="full">
    <ion-label>Pagar em dinheiro</ion-label>
  </ion-item>

   <ion-item href="maquininha" lines="full">
     <ion-label>Pagar no carro - débito</ion-label>
   </ion-item>

   <ion-item href="pagamento-adicionar" lines="undefined">
     <ion-label>
        <h2><ion-icon name="add-outline"></ion-icon> Adicionar método de pagamento</h2>
       <p>Cartões de crédito ou débito/Paypal</p>
     </ion-label>
   </ion-item>

   <ion-item-divider>
     <ion-label><h2>Promoções</h2></ion-label>
   </ion-item-divider>

   <ion-item href="descontos" lines="none">
     <ion-label>Descontos</ion-label>
   </ion-item>

   <ion-item-divider>
    <ion-label><h2>Créditos</h2></ion-label>
  </ion-item-divider>

  <ion-item href="saldo" lines="none">
    <ion-label>Saldo</ion-label>
  </ion-item>

  <ion-item href="creditos-adicionar" lines="undefined">
    <ion-label>
       <h2><ion-icon name="add-outline"></ion-icon> Adicionar créditos</h2>
      <p>Adiconar créditos via boleto</p>
    </ion-label>
  </ion-item>

 </ion-item-group>
</ion-list>
</ion-content>
